<!DOCTYPE html>
<html>

<head>
    <meta content="width: device-width; initial-scale: 1" />
    <meta charset="utf-8" />
    <title>Students List</title>
</head>

<body>
    <h1>Students List</h1>
    <p>Students Intro Para</p>
    <ol>Students:
        <li>student_1</li>
        <li>student_2</li>
        <li>student_3</li>
        <li>student_4</li>
        <li>student_5</li>
        <li>student_6</li>
        <li>student_7</li>
        <li>student_8</li>
        <li>student_9</li>
        <li>student_10</li>
    </ol>
    <a href="../../HTML basics - list link.html">Back to Home</a>
</body>

</html>